@model CoreMvcCrudProject.Models.Student

@{
    ViewData["Title"] = "Create";
    List<Department> departments = ViewData["Departments"] as List<Department>;
}

<h3>Employee</h3>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="row">
        <div class="col-md-10 justify-content-center">
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="RegisterStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId"/>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="StudentRoll" class="control-label"></label>
                    <input asp-for="StudentRoll" class="form-control" />
                    <span asp-validation-for="StudentRoll" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="StudentContact" class="control-label"></label>
                    <input asp-for="StudentContact" class="form-control" />
                    <span asp-validation-for="StudentContact" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" class="form-control" asp-items="@(new SelectList(departments, "DepartmentId", "DepartmentName"))">
                    <option selected disabled>Select Department</option>
                </select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @if (Model.StudentId >0)
                    {
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success btn-block"><i class="fa fa-check"></i> Save</button>
                    }
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
