@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Student" asp-action="Index" style="text-decoration: none"><h1 class="display-4">Go To List</h1></a>
    <p>See more projects on <a href="https://github.com/ihasanzarif">gitHub</a>.</p>
</div>
